@import "null.css";
@import "fonts.css";

body {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    color: #1e212c;
    width: 1233px;
}
.wrapper {
    padding: 132px 82px 106px 341px;
}
.title {
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    align-items: center;
    margin: 0 0 40px 0;
}

.image {
    margin: 0 0 36px 0;
}

p {
    margin: 24px 0;
}

p:last-child {
    margin: 24px 0 63px 0;
}

.text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.main-one {
    margin: 0 0 32px 0;
}

.main-two {
    margin: 0 0 48px 0;
}

.main-three {
    margin: 0 0 48px 0;
}

.text__bold {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}
